@import "settings";
@import "foundation";

body, #home {
  background: url("/assets/img/heather-brown.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.cardCustom {
  background: #b5d5e3;
}

.customFont-menu-bar {
  color: #ffffff;
  padding: 0.5rem;
}

.customFont {
  font-weight: 900;
  color: #09488D;
  padding-top: 0.5em;
}

.customFont-align-center {
  text-align: center;
}

.menu-bar.primary {
  background: #06425C;
}

//TODO: find a way to hid overlap when rotated
.rotate {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

