---
title: Order
url: /order
name: order
cards:

-
    name: Vader
    img: assets/img/coffs-vader.jpg
    rotate: rotate
    price: $8
-
    name: Prototype
    img: assets/img/coffs-prototype.jpg
    price: $0
-
    name: Entire set of
    img: assets/img/coffs-set.jpg
    price: $65
---

<div class="grid-block medium-up-3">
  <div class="grid-content" ng-repeat="card in vars.cards">
    <div class="card cardCustom">
    <img src="{{ card.img }}" class="{{ card.rotate }}">
      <div class="card-divider">
        {{ card.name }} sleeves at {{ card.price }}
      </div>
      <div class="card-section">
        <h4>Description</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem odio deleniti provident aliquam qui magnam aspernatur necessitatibus.</p>
      </div>
  </div>
</div>